.todoItemContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todoItem {
  width: 100%;
  min-height: 55px;
  border-radius: 10px;
  background: #15101c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.todoItem label {
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  color: #9e78cf;
}
.itemRight {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemRight button {
  background-color: transparent;
  color: #fff;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.trashBtn {
  background-color: rgb(234, 21, 21) !important;
  transition: 0.2s;
  &:hover {
    background-color: rgb(145, 6, 6) !important;
    box-shadow: 0 0 15px rgb(196, 13, 13), 0 0 30px rgb(209, 13, 13),
      0 0 45px rgb(192, 19, 19), 0 0 60px rgb(201, 17, 17);
  }
}
.editBtn {
  background-color: rgb(9, 160, 9) !important;
  transition: 0.2s;
  &:hover {
    background-color: green !important;
    box-shadow: 0 0 15px green, 0 0 30px green, 0 0 45px green, 0 0 60px green;
  }
}



.virtualEdit {
  
    background-color:transparent;
    border: 1px solid  #9e78cf;
    border-radius: 3px;
    color: #fff;
    height: 20px;
  }


  .saveBtn{
    background-color: rgb(100, 95, 240) !important;
    transition: 0.2s;
    &:hover {
      background-color: green !important;
      box-shadow: 0 0 15px green, 0 0 30px green, 0 0 45px green, 0 0 60px green;
    }
  }